Flask==3.1.2
gunicorn==23.0.0
python-dotenv==1.1.1

youtube-transcript-api==1.2.4

langchain==0.3.27
langchain-core==0.3.74
langchain-community==0.3.27
langchain-text-splitters==0.3.9
langchain-huggingface==0.3.1
langchain-mistralai==0.2.11

faiss-cpu==1.11.0
sentence-transformers==5.1.0

huggingface-hub
transformers
torch